@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: 'Bubblegum Sans';
}
html, body {
    min-height: 100%;
}
body {
    background: rgb(149,0,131);
    background: linear-gradient(90deg, rgba(149,0,131,0.9164040616246498) 0%, rgba(198,14,233,0.9192051820728291) 47%, rgba(0,212,255,1) 91%, rgba(0,212,255,1) 100%);
}
p {
    margin: 16px auto;
    font-size: 1.5em;
}

.layout {
    max-width: 1100px;
    margin : 0 auto;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin : 40px auto;
}

 nav .links {
    display : inline-block;
    text-align: right;
 }
 nav a {
    display: inline-block;
    margin-left: 20px;
    border-bottom: 3px solid transparent;
    font-weight : 400;
    padding-bottom: 8px;
 }
 nav a:hover {
    font-size: 17px;
    border-bottom: 3px solid white;
 }
 footer p {
    text-align: center;
    margin: 40px auto;
    color : black;
    font-family: 'Times New Roman', Times, serif;
 }