.portfolio{
       text-align: center;
}
.portfolio h1 {
     font-size: 4em;
     margin-top: 60px;
}
.portfolio h2 {
      font-size: 2.5em;
      letter-spacing: 3px;
      margin-top: 20px;
}
.portfolio p {
   font-size: 1em;   
}
.showcaseone{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 60px;
      text-align: center;
      align-items: center;
      margin-bottom: 100px;
  }